In [145]:
import pandas as pd
import requests
import json
import os

In [146]:
token = os.environ['MSTEAMS']

KeyError: 'MSTEAMS'

In [94]:
url = 'https://coast.hhla.de/api/execute-report/Standard-Report-Segelliste'

In [95]:
r = requests.get(url)

In [96]:
# mit json Modul den textabruf wieder als json

data = json.loads(r.text)

In [97]:
# mit json_normalize den richtigen Pfad der json ansteuern, mit T transponieren/um 90 Grad drehen

einzel_df = pd.json_normalize(data['resultTables'][0]['rows'][0]).T

In [98]:
einzel_df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
columnId,schiffabfertigung.abfahrtistzeitpunkt,schiffabfertigung.abfahrtsollzeitpunkt,schiffabfertigung.ankunftistzeitpunkt,schiffabfertigung.ankunftsollzeitpunkt,schiffabfertigung.exportreise,schiffabfertigung.funkcode,schiffabfertigung.importreise,schiffabfertigung.jahresschiffsnummer,schiffabfertigung.ladebeginnzeitpunkt,schiffabfertigung.ladeendezeitpunkt,schiffabfertigung.loeschbeginnzeitpunkt,schiffabfertigung.loeschendezeitpunkt,schiffabfertigung.schiffsname,schiffabfertigung.schiffstyp,schiffabfertigung.terminal
value,2022-10-24T02:40:00+02:00,2022-10-24T06:00:00+02:00,2022-10-23T19:00:00+02:00,2022-10-23T19:00:00+02:00,233232,DFGL2,None,233232,2022-10-23T23:35:00+02:00,2022-10-24T01:30:00+02:00,None,None,BEATE,FEEDER,CTB

In [99]:
# erste Zeile zu Spaltennamen

einzel_df.columns = einzel_df.iloc[0]

In [100]:
einzel_df = einzel_df[1:]

In [101]:
einzel_df

columnId,schiffabfertigung.abfahrtistzeitpunkt,schiffabfertigung.abfahrtsollzeitpunkt,schiffabfertigung.ankunftistzeitpunkt,schiffabfertigung.ankunftsollzeitpunkt,schiffabfertigung.exportreise,schiffabfertigung.funkcode,schiffabfertigung.importreise,schiffabfertigung.jahresschiffsnummer,schiffabfertigung.ladebeginnzeitpunkt,schiffabfertigung.ladeendezeitpunkt,schiffabfertigung.loeschbeginnzeitpunkt,schiffabfertigung.loeschendezeitpunkt,schiffabfertigung.schiffsname,schiffabfertigung.schiffstyp,schiffabfertigung.terminal
value,2022-10-24T02:40:00+02:00,2022-10-24T06:00:00+02:00,2022-10-23T19:00:00+02:00,2022-10-23T19:00:00+02:00,233232,DFGL2,None,233232,2022-10-23T23:35:00+02:00,2022-10-24T01:30:00+02:00,None,None,BEATE,FEEDER,CTB

In [102]:
# wie viele Zeilen haben wir?

zeilen = data['resultTables'][0]['totalNumberOfRows']
zeilen

853

In [103]:
# Schleife für alle rows in der Liste

dfliste = [] #wie erstellen eine leere liste in die wir die dfs  packen

for id in range(0,zeilen):   # hinter dem for wird immer eine temporäre Variable eingefügt die dann die range enthält und im Loop eingesetzt werden kann
    einzel_df = pd.json_normalize(data['resultTables'][0]['rows'][id]).T 
    einzel_df.columns = einzel_df.iloc[0]
    einzel_df = einzel_df[1:]
    dfliste.append(einzel_df)

In [110]:
df_komplett = pd.concat(dfliste)

In [111]:
df_komplett = df_komplett.sort_values(by='schiffabfertigung.ankunftsollzeitpunkt')
df_komplett = df_komplett.reset_index()
df_komplett

columnId,index,schiffabfertigung.abfahrtistzeitpunkt,schiffabfertigung.abfahrtsollzeitpunkt,schiffabfertigung.ankunftistzeitpunkt,schiffabfertigung.ankunftsollzeitpunkt,schiffabfertigung.exportreise,schiffabfertigung.funkcode,schiffabfertigung.importreise,schiffabfertigung.jahresschiffsnummer,schiffabfertigung.ladebeginnzeitpunkt,schiffabfertigung.ladeendezeitpunkt,schiffabfertigung.loeschbeginnzeitpunkt,schiffabfertigung.loeschendezeitpunkt,schiffabfertigung.schiffsname,schiffabfertigung.schiffstyp,schiffabfertigung.terminal
0,value,2022-10-14T03:10:00+02:00,2022-10-14T05:51:00+02:00,2022-10-14T01:00:00+02:00,2022-10-14T02:58:00+02:00,NOE-1665460820331,FRANC,NOE-1665460820331,32261926,None,None,2022-10-14T02:03:38+02:00,2022-10-14T02:49:05+02:00,BCF FRANC,BARGE,CTT
1,value,2022-10-14T20:40:00+02:00,2022-10-14T21:00:00+02:00,2022-10-14T03:10:00+02:00,2022-10-14T03:00:00+02:00,233112,5BKY2,233112,233112,2022-10-14T07:50:00+02:00,2022-10-14T19:40:00+02:00,2022-10-14T03:10:00+02:00,2022-10-14T18:30:00+02:00,JUDITH,FEEDER,CTB
2,value,2022-10-14T14:00:00+02:00,2022-10-14T14:00:00+02:00,2022-10-14T05:45:00+02:00,2022-10-14T07:00:00+02:00,233123,CQEF7,233123,233123,2022-10-14T07:45:00+02:00,2022-10-14T11:30:00+02:00,2022-10-14T07:10:00+02:00,2022-10-14T10:00:00+02:00,ELBSUN,FEEDER,CTB
3,value,2022-10-17T12:40:00+02:00,2022-10-17T12:30:00+02:00,2022-10-14T07:40:00+02:00,2022-10-14T07:00:00+02:00,075E,VRHM7,075W,32261392,2022-10-15T06:13:28+02:00,2022-10-17T03:01:37+02:00,2022-10-14T00:39:25+02:00,2022-10-17T02:49:59+02:00,CSCL STAR,DEEPSEA,CTT
4,value,2022-10-14T18:00:00+02:00,2022-10-14T17:57:00+02:00,2022-10-14T06:50:00+02:00,2022-10-14T07:00:00+02:00,NOE-1665562719007,LAUK,NOE-1665562719007,32261932,2022-10-14T09:23:35+02:00,2022-10-14T17:45:55+02:00,2022-10-14T07:28:34+02:00,2022-10-14T16:20:18+02:00,LAUK,BARGE,CTT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
848,value,None,None,None,2023-01-10T05:30:00+01:00,050E,VRNV5,050W,32262101,None,None,None,None,CSCL PACIFIC OCEAN,DEEPSEA,CTT
849,value,None,None,None,2023-01-11T00:00:00+01:00,209E,CQEB,209E,32262105,None,None,None,None,BUXCOAST,DEEPSEA,CTT
850,value,None,None,None,2023-01-13T00:00:00+01:00,023E,VRRE2,023W,32262099,None,None,None,None,COSCO SHIPPING TAURUS,DEEPSEA,CTT
851,value,None,2023-01-14T06:02:00+01:00,None,2023-01-13T06:02:00+01:00,None,VRFX5,None,330012,None,None,None,None,COSCO JAPAN,DEEPSEA,CTB
852,value,None,2023-01-19T23:00:00+01:00,None,2023-01-16T07:00:00+01:00,None,V7HL6,None,330006,None,None,None,None,LINAH,DEEPSEA,CTB

In [112]:
df_komplett['schiffabfertigung.ankunftsollzeitpunkt'] = pd.to_datetime(df_komplett['schiffabfertigung.ankunftsollzeitpunkt'])

In [113]:
# nur deepsea Shciffe rausfiltern

df_deepsea = df_komplett[df_komplett['schiffabfertigung.schiffstyp'] == 'DEEPSEA']

In [114]:
df_deepsea

columnId,index,schiffabfertigung.abfahrtistzeitpunkt,schiffabfertigung.abfahrtsollzeitpunkt,schiffabfertigung.ankunftistzeitpunkt,schiffabfertigung.ankunftsollzeitpunkt,schiffabfertigung.exportreise,schiffabfertigung.funkcode,schiffabfertigung.importreise,schiffabfertigung.jahresschiffsnummer,schiffabfertigung.ladebeginnzeitpunkt,schiffabfertigung.ladeendezeitpunkt,schiffabfertigung.loeschbeginnzeitpunkt,schiffabfertigung.loeschendezeitpunkt,schiffabfertigung.schiffsname,schiffabfertigung.schiffstyp,schiffabfertigung.terminal
3,value,2022-10-17T12:40:00+02:00,2022-10-17T12:30:00+02:00,2022-10-14T07:40:00+02:00,2022-10-14 07:00:00+02:00,075E,VRHM7,075W,32261392,2022-10-15T06:13:28+02:00,2022-10-17T03:01:37+02:00,2022-10-14T00:39:25+02:00,2022-10-17T02:49:59+02:00,CSCL STAR,DEEPSEA,CTT
7,value,2022-10-21T18:30:00+02:00,2022-10-21T18:00:00+02:00,2022-10-14T08:30:00+02:00,2022-10-14 08:30:00+02:00,1202004E,3E2429,1202004W,232345,2022-10-17T19:45:00+02:00,2022-10-21T18:15:00+02:00,2022-10-15T01:20:00+02:00,2022-10-21T14:30:00+02:00,EVER ACT,DEEPSEA,CTB
19,value,2022-10-17T03:05:00+02:00,2022-10-17T03:00:00+02:00,2022-10-14T20:20:00+02:00,2022-10-14 21:00:00+02:00,2239E,D5EG8,2230W,32261573,2022-10-15T10:58:32+02:00,2022-10-17T02:10:19+02:00,2022-10-14T23:52:12+02:00,2022-10-16T22:28:25+02:00,TOKYO BAY,DEEPSEA,CTT
22,value,2022-10-16T14:00:00+02:00,2022-10-16T14:00:00+02:00,2022-10-15T05:35:00+02:00,2022-10-15 05:30:00+02:00,074W,3ENA9,073E,202226,2022-10-15T11:05:00+02:00,2022-10-16T12:40:00+02:00,2022-10-15T08:15:00+02:00,2022-10-16T04:05:00+02:00,NYK METEOR,DEEPSEA,CTA
27,value,2022-10-17T11:00:00+02:00,2022-10-17T11:00:00+02:00,2022-10-15T10:15:00+02:00,2022-10-15 10:00:00+02:00,006W,D5AD8,005E,202221,2022-10-15T15:55:00+02:00,2022-10-17T06:00:00+02:00,2022-10-15T12:00:00+02:00,2022-10-17T00:40:00+02:00,TIRUA,DEEPSEA,CTA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
848,value,None,None,None,2023-01-10 05:30:00+01:00,050E,VRNV5,050W,32262101,None,None,None,None,CSCL PACIFIC OCEAN,DEEPSEA,CTT
849,value,None,None,None,2023-01-11 00:00:00+01:00,209E,CQEB,209E,32262105,None,None,None,None,BUXCOAST,DEEPSEA,CTT
850,value,None,None,None,2023-01-13 00:00:00+01:00,023E,VRRE2,023W,32262099,None,None,None,None,COSCO SHIPPING TAURUS,DEEPSEA,CTT
851,value,None,2023-01-14T06:02:00+01:00,None,2023-01-13 06:02:00+01:00,None,VRFX5,None,330012,None,None,None,None,COSCO JAPAN,DEEPSEA,CTB
852,value,None,2023-01-19T23:00:00+01:00,None,2023-01-16 07:00:00+01:00,None,V7HL6,None,330006,None,None,None,None,LINAH,DEEPSEA,CTB

In [115]:
# nur die schiffe die nächste Woche ankommen

import datetime

In [116]:
# timezonenkompatibilität herstellen

import pytz

In [117]:
utc=pytz.UTC

In [118]:
heute = utc.localize(datetime.datetime.now()) # was ist heute?

In [122]:
df_deepsea_abheute = df_deepsea[df_deepsea['schiffabfertigung.ankunftsollzeitpunkt'] > heute]

In [123]:
df_deepsea_abheute15 = df_deepsea_abheute.iloc[:15]
df_deepsea_abheute15

columnId,index,schiffabfertigung.abfahrtistzeitpunkt,schiffabfertigung.abfahrtsollzeitpunkt,schiffabfertigung.ankunftistzeitpunkt,schiffabfertigung.ankunftsollzeitpunkt,schiffabfertigung.exportreise,schiffabfertigung.funkcode,schiffabfertigung.importreise,schiffabfertigung.jahresschiffsnummer,schiffabfertigung.ladebeginnzeitpunkt,schiffabfertigung.ladeendezeitpunkt,schiffabfertigung.loeschbeginnzeitpunkt,schiffabfertigung.loeschendezeitpunkt,schiffabfertigung.schiffsname,schiffabfertigung.schiffstyp,schiffabfertigung.terminal
581,value,None,2022-11-12T06:00:00+01:00,None,2022-11-11 14:00:00+01:00,2239W,PCDQ,2239E,202632,2022-11-11T19:00:00+01:00,None,None,None,ESPOIR,DEEPSEA,CTA
591,value,None,2022-11-13T22:30:00+01:00,None,2022-11-11 23:00:00+01:00,033E,VROO4,033W,202437,2022-11-11T23:00:00+01:00,None,None,None,YM WHOLESOME,DEEPSEA,CTA
593,value,None,2022-11-12T12:00:00+01:00,None,2022-11-12 01:00:00+01:00,2245E,V2DO9,2244W,233432,None,None,None,None,NEUENFELDE,DEEPSEA,CTB
603,value,None,2022-11-14T23:00:00+01:00,None,2022-11-12 10:00:00+01:00,2239E,DGWD2,2339W,202550,2022-11-12T15:00:00+01:00,None,None,None,NAGOYA EXPRESS,DEEPSEA,CTA
608,value,None,2022-11-13T23:00:00+01:00,None,2022-11-12 19:00:00+01:00,245S,D5ME4,242N,232745,None,None,None,None,JAZAN,DEEPSEA,CTB
610,value,None,2022-11-16T22:00:00+01:00,None,2022-11-12 19:30:00+01:00,036E,VROC3,036W,232928,None,None,None,None,YM WISH,DEEPSEA,CTB
618,value,None,2022-11-16T06:00:00+01:00,None,2022-11-13 20:00:00+01:00,1211004E,3E3532,1211004W,232781,None,None,None,None,EVER AIM,DEEPSEA,CTB
619,value,None,2022-11-17T06:00:00+01:00,None,2022-11-13 20:00:00+01:00,022E,VRSO4,022W,32261645,None,None,None,None,COSCO SHIPPING SOLAR,DEEPSEA,CTT
620,value,None,2022-11-17T02:30:00+01:00,None,2022-11-13 20:30:00+01:00,008E,3EQK6,008W,232752,None,None,None,None,HMM ROTTERDAM,DEEPSEA,CTB
621,value,None,2022-11-15T14:00:00+01:00,None,2022-11-13 22:30:00+01:00,090E,3EIC8,089W,202395,2022-11-13T22:35:00+01:00,None,None,None,ONE HANNOVER,DEEPSEA,CTA
622,value,None,2022-11-14T23:00:00+01:00,None,2022-11-13 23:00:00+01:00,83W45,ZCEU7,82E43,202555,2022-11-13T23:00:00+01:00,None,None,None,QUEBEC EXPRESS,DEEPSEA,CTA
640,value,None,2022-11-14T22:30:00+01:00,None,2022-11-14 15:00:00+01:00,233224,PHHT,233224,233224,None,None,None,None,FENJA,DEEPSEA,CTB
645,value,None,2022-11-15T14:02:00+01:00,None,2022-11-14 15:02:00+01:00,016S,VRCY7,016N,32262080,None,None,None,None,OOCL KOBE,DEEPSEA,CTT
658,value,None,2022-11-17T06:00:00+01:00,None,2022-11-15 06:00:00+01:00,019E,VRRW8,019W,32261740,None,None,None,None,COSCO SHIPPING NEBULA,DEEPSEA,CTT
666,value,None,2022-11-15T14:00:00+01:00,None,2022-11-15 07:00:00+01:00,None,PBWS,None,233462,None,None,None,None,OOCL RAUMA,DEEPSEA,CTB

In [124]:
df_deepsea_abheute15['schiffabfertigung.schiffsname']

581                   ESPOIR
591             YM WHOLESOME
593               NEUENFELDE
603           NAGOYA EXPRESS
608                    JAZAN
610                  YM WISH
618                 EVER AIM
619     COSCO SHIPPING SOLAR
620            HMM ROTTERDAM
621             ONE HANNOVER
622           QUEBEC EXPRESS
640                    FENJA
645                OOCL KOBE
658    COSCO SHIPPING NEBULA
666               OOCL RAUMA
Name: schiffabfertigung.schiffsname, dtype: object

In [136]:
new_str = [str(x) for x in df_deepsea_abheute15['schiffabfertigung.schiffsname']]
text = ','.join(new_str)
text

'ESPOIR,YM WHOLESOME,NEUENFELDE,NAGOYA EXPRESS,JAZAN,YM WISH,EVER AIM,COSCO SHIPPING SOLAR,HMM ROTTERDAM,ONE HANNOVER,QUEBEC EXPRESS,FENJA,OOCL KOBE,COSCO SHIPPING NEBULA,OOCL RAUMA'

In [126]:
# Über Teams Webhooks schicken

!pip install pymsteams

Collecting pymsteams
  Downloading pymsteams-0.2.2.tar.gz (9.6 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: requests>=2.20.0 in c:\users\philip\anaconda3\lib\site-packages (from pymsteams) (2.28.1)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\philip\anaconda3\lib\site-packages (from requests>=2.20.0->pymsteams) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\philip\anaconda3\lib\site-packages (from requests>=2.20.0->pymsteams) (2022.9.14)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\philip\anaconda3\lib\site-packages (from requests>=2.20.0->pymsteams) (1.26.11)
Requirement already satisfied: idna<4,>=2.5 in c:\users\philip\anaconda3\lib\site-packages (from requests>=2.20.0->pymsteams) (3.3)
Building wheels for collected packages: pymsteams
  Building wheel for pymsteams (setup.py): started
  Building wheel for pymsteams (setup.py): finished with status 'done'
  Created wheel for pymsteams: filename=pymsteams-0.2.2-py3-none-any.whl size=6687 sha256=ac7927665bae8b39e31a0c8d9b6e5acae061f82e7b6916fbf625497fd00e706b
  Stored in directory: c:\users\philip\appdata\local\pip\cache\wheels\a4\81\c1\6ccd8640ffaddeb1a3976cf273a91156cdb6639f2578689ead
Successfully built pymsteams
Installing collected packages: pymsteams
Successfully installed pymsteams-0.2.2

In [132]:
import pymsteams

In [143]:
# You must create the connectorcard object with the Microsoft Webhook URL
myTeamsMessage = pymsteams.connectorcard(token)

# Add text to the message.
myTeamsMessage.text(f"Die nächsten Schiffe sind: {text}")

In [144]:
# send the message.
myTeamsMessage.send()

True